*{
  margin: 0;
  padding: 0;
}

/*mise en forme generale de la page*/
body{
  font-family: arial,verdana,sans-serif;
  color: #000;
}

#wrapper{
  width:990px;
  height: 940px;
  margin: 0 auto;
}

h1{
  text-align: center;
}
nav{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
nav ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 10px;
}

nav li{
  padding-left: 5px;
}

nav a{
  display: block;
  text-decoration: none;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  padding: 5px;
  color: gray;
}

nav a:hover{
  display: block;
  border-bottom: 4px solid gold;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
}

.menu-parent:hover > .sous-menu{
  display: flex;
}

.sous-menu {
  display: none;
  flex-direction: column;
}

.sous-menu a{
  color: green;
}

main{
  height: 75%;
  display: flex;
  align-items: center;

}

section{
  width: 640px;
}

aside{
max-width: 280px;
}

article{
  display: flex;

}

aside{
  display: flex;
  flex-direction: column;
}

footer{
  display: flex;
  align-items:center;
  justify-content: flex-end;
}

footer p{
  padding-right: 15px;
}
